<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
    <a class="navbar-brand" th:href="@{/}" style="margin-left: 650px;">Home</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/}">Account-Admin</a>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/notifications}">Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/users}">Users</a>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/list}">List</a>
                </div>
            </li>

            <li class="nav-item">
                <form method="POST" th:action="@{/logout}">
                    <input type="submit"
                           name="submit"
                           id="submit"
                           class="btn btn-danger"
                           value="Logout">
                </form>
            </li>
        </ul>
    </div>
</nav>


<div class="container my-2">
    <h1>Requests</h1>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Vaccine Id</th>
            <th scope="col">Vaccine Name</th>
            <th scope="col">Approve and Reject Request</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.userId}"></td>
            <td th:text="${notification.userName}"></td>
            <td th:text="${notification.vaccineId}"></td>
            <td th:text="${notification.vaccineName}"></td>
            <td>


                    <a th:href="@{/admin/notifications/accept/{id}(id=${notification.userId})}" class="btn btn-dark">
				Accept
			     </a>
                <a th:href="@{/admin/notifications/reject/{id}(id=${notification.userId})}" class="btn btn-dark">
                    Reject
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>
