<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Question Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
</head>
<body style="background-image: url('https://blackswiftgroup.com/app/uploads/2019/02/background-1-1920x900.jpg');background-repeat: no-repeat;width: 100%;height:100%;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
    <a class="navbar-brand" th:href="@{/}" style="margin-left: 650px;">Home</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/user/}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/user/list}">Vaccine List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/user/create-questionForm}">Book App</a>
            </li>

            <li class="nav-item">
                <form method="POST" th:action="@{/logout}">
                    <input type="submit"
                           name="submit"
                           id="submit"
                           class="btn btn-danger"
                           value="Logout">
                </form>
            </li>
        </ul>
    </div>
</nav>
<h1 style="margin-left: 630px;margin-top: 10px;color: mistyrose">Question Form</h1>
<div style="margin-left: 500px;margin-right: 500px;margin-top: 50px;">
    <form th:action="@{/user/create-questionForm}" th:object="${answer}" method="POST">
        <div class="row">
            <label style="color:white"> For how long have you felt as sick?</label>

            <input type="text"
                   id="answer1"
                   name="answer1"
                   th:field="*{answer1}"
                   class="form-control">
            <div class="alert alert-danger"
                 th:errors="*{answer1}"
                 th:if="${#fields.hasErrors('answer1')}"
            ></div>
        </div>
        <br>

        <div class="row">
            <label style="color:white">What symptons do you have?</label>

            <input type="text"
                   id="answer2"
                   name="answer2"
                   th:field="*{answer2}"
                   class="form-control">
            <div class="alert alert-danger"
                 th:errors="*{answer2}"
                 th:if="${#fields.hasErrors('answer2')}"
            ></div>
        </div>
        <br>
        <div class="row">
            <label style="color:white">Do you have temperature often?</label>

            <input type="text"
                   id="answer3"
                   name="answer3"
                   th:field="*{answer3}"
                   class="form-control">
            <div class="alert alert-danger"
                 th:errors="*{answer3}"
                 th:if="${#fields.hasErrors('answer3')}"
            ></div>
        </div>
        <br>

        <input style="margin-left: 250px;" type="submit" id="submit" name="submit" value="Submit" class="btn btn-dark">
    </form>
</div>

</body>
</html>
