<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" th:href="@{/user/}">Profile</a>
            </li>
            <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link active" th:href="@{/user/create-vaccineCenter}">Book Plan</a>
                </div>
            </li>


            <form method="POST" th:action="@{/logout}">
                <input type="submit"
                       name="submit"
                       id="submit"
                       class="btn btn-danger"
                       value="Logout">
            </form>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{/user/create-vaccineCenter}" th:object="${vaccine}" method="POST">
        <div class="row mb-3">
            <div class="form-outline datepicker">
                <label for="date">Date of vaccine</label>
                <input class="form-control" type="date" name="date" id="date" required value="${vaccineCenterRequest.date}"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="userIds" class="col-sm-2 col-form-label">Select Users</label>
            <div class="col-sm-10">
                <select multiple="multiple"
                        id="userIds"
                        name="userIds"
                        class="form-control form-select"
                >
                    <option th:each="user: ${users}"
                            th:field="*{userIds}"
                            th:value="${user.id}"
                            th:text="${user.fullName}"></option>
                </select>
            </div>
        </div>
        <input type="submit" id="submit" name="submit" value="Submit" class="btn btn-dark">
    </form>
</div>
</body>
</html>
